# Node modules
node_modules/

# Output directory
transcripts/

# macOS system files
.DS_Store

# Environment variables
.env
self-notes.md

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.ttml